@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--brand-purple: #3e2486;
	--brand-purple-dark: #22144a;
	--brand-dark: #110a25;
	--brand-green: #1ad69c;
	--brand-red: #e00303;
	--brand-yellow: #f3c449;
	--brand-gray-light: #f0f0f0;
	--brand-gray-dark: #a2a2a2;
}

/* GENERAL */

body {
	font-family: var(--nunito-regular);
	/* Source: https://matthewjamestaylor.com/responsive-font-size#how
	font-size: calc(15px + 0.390625vw); */
	font-size: 1.5rem;
}

h1,
h2,
h3 {
	font-family: var(--vt323-regular);
}

h2 {
	padding: 3rem 0;
}

h4,
h5 {
	font-family: var(--roboto-bold);
}

h4 {
	font-size: 2rem;
}

/* FONTS */

.vt323-regular {
	font-family: var(--vt323-regular);
}

.nunito-regular {
	font-family: var(--nunito-regular);
}

.roboto-bold {
	font-family: var(--roboto-bold);
}

/* BORDER STYLES AND COLORS */
.border-dashed-purple-bold {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		);
	background-size: 10px 100%, 100% 10px, 10px 100%, 100% 10px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-dashed-purple-regular {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-purple),
			var(--brand-purple) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		);
	background-size: 6px 100%, 100% 6px, 6px 100%, 100% 6px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-dashed-yellow-bold {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		);
	background-size: 10px 100%, 100% 10px, 10px 100%, 100% 10px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-dashed-yellow-regular {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-yellow),
			var(--brand-yellow) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-yellow) 74px
		);
	background-size: 6px 100%, 100% 6px, 6px 100%, 100% 6px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-dashed-green-bold {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		);
	background-size: 10px 100%, 100% 10px, 10px 100%, 100% 10px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-dashed-green-regular {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-green),
			var(--brand-green) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		);
	background-size: 6px 100%, 100% 6px, 6px 100%, 100% 6px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-dashed-red-bold {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-red) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-red) 74px
		);
	background-size: 10px 100%, 100% 10px, 10px 100%, 100% 10px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-dashed-red-regular {
	background-image: repeating-linear-gradient(
			0deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-purple) 74px
		),
		repeating-linear-gradient(
			90deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-green) 74px
		),
		repeating-linear-gradient(
			180deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-red) 74px
		),
		repeating-linear-gradient(
			270deg,
			var(--brand-red),
			var(--brand-red) 55px,
			transparent 35px,
			transparent 74px,
			var(--brand-red) 74px
		);
	background-size: 6px 100%, 100% 6px, 6px 100%, 100% 6px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}
