.image-container {
  display: flex;
}

/* .active-image-container {
  background-color: var(--brand-color-yellow);
  width: 20rem;
  height: 30rem;
  box-shadow: 4px 4px 10px 2px var(--brand-color-green);
  border-radius: 30px;
} */
