.nav-container {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.125rem;
  background-color: var(--brand-color-light-purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* LOGO */
.logo-img {
  height: 2.5rem;
  width: 15rem;
}

/* LINKS */
.menu-links {
  color: var(--font-color-white);
  display: flex;
  font-size: 1.5rem;
}

.menu-links li {
  list-style: none;
  padding: 0.625rem;
}

/* BUTTONS */
.shop-btn {
  width: 7.5rem;
  height: 3rem;
  color: var(--brand-color-light-purple);
  background: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
}
