.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-color-light-purple);
}

.intro-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.intro-text h1 {
  font-size: 3rem;
  color: var(--font-color-white);
}

.intro-text form > label {
  color: var(--font-color-white);
}

.intro-text input {
  width: 166px;
  height: 57px;
}

/* IMAGE */
.intro-img {
  margin-top: 8rem;
  width: 41rem;
  height: 36.5rem;
}

/* BUTTON */
.green-btn {
  width: 166px;
  height: 57px;
  background: var(--brand-color-green);
  border: none;
}
