.hex {
	margin-left: 2rem;
	margin-top: 4rem;
	width: 10rem;
	height: 4.7rem;
	background-color: #3e2486;
	border-color: #3e2486;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0rem 2rem;
}

.hex:before {
	content: '';
	position: absolute;
	top: -2.5rem;
	border-bottom: 2.5rem solid;
	border-color: inherit;
	border-left: 5rem solid transparent;
	border-right: 5rem solid transparent;
}

.hex:after {
	content: '';
	position: absolute;
	bottom: -2.5rem;
	border-top: 2.5rem solid;
	border-color: inherit;
	border-left: 5rem solid transparent;
	border-right: 5rem solid transparent;
}

.hexText {
	position: relative;
	font-size: 1.5rem;
	font-family: var(--vt323-regular);
	text-align: center;
	line-height: 1.5rem;
	transform: scaleY(1.1);
}

@media screen and (max-width: 1200px) {
	.hex {
		margin-left: 1.5rem;
		margin-top: 3.5rem;
		width: 8.3rem;
		height: 4.2rem;
	}

	.hex:before {
		top: -2.19rem;
		border-bottom: 2.2rem solid;
		border-color: inherit;
		border-left: 4.2rem solid transparent;
		border-right: 4.2rem solid transparent;
	}

	.hex:after {
		bottom: -2.19rem;
		border-top: 2.2rem solid;
		border-color: inherit;
		border-left: 4.2rem solid transparent;
		border-right: 4.2rem solid transparent;
	}

	.hexText {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 600px) {
	.hex {
		margin-left: 1.5rem;
		margin-top: 3.5rem;
		width: 6rem;
		height: 3.33rem;
	}

	.hex:before {
		top: -30px;
		border-bottom: 30px solid;
		border-color: inherit;
		border-left: 3rem solid transparent;
		border-right: 3rem solid transparent;
	}

	.hex:after {
		bottom: -30px;
		border-top: 30px solid;
		border-color: inherit;
		border-left: 3rem solid transparent;
		border-right: 3rem solid transparent;
	}

	.hexText {
		line-height: normal;
		font-size: 1rem;
	}
}
