.bar-container {
  display: flex;
  flex-direction: column;
}

.bar-scale {
  border-radius: 10px;
}

.bar-color-green {
  background: var(--brand-color-green);
}

.bar-color-yellow {
  background: var(--brand-color-yellow);
}

.bar-color-red {
  background: var(--brand-color-red);
}
